use VBM;
go

SELECT
	ID_PORTFOLIO
	,PERIOD
	,[SUM]
	,N'fact' as TYPE1
FROM COSTS_OPER
WHERE CATEGORY = N'total'

UNION ALL

SELECT
 V1.ID_PORTFOLIO
,V1.PERIOD
,V1.[SUM] * V2.[VALUE]
,N'formula'
FROM GetCOLLECTIONS_FACTandPRED V1 inner join GetCOSTS_OPER_PLAN_MARGIN V2
ON V1.ID_PORTFOLIO = V2.ID_PORTFOLIO and V1.PERIOD = V2.PERIOD
WHERE V1.PERIOD > VBM.dbo.ufn_GetLatestPeriod_COSTS_OPER(N'')