--USE [VBM2]
--GO
/****** Object:  Table [dbo].[SYS_LKP_CATEGORY]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_LKP_CATEGORY](
	[CATEGORY] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[DESCRIPTION] [nvarchar](64) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [SYS_LKP_CATEGORY_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PORTFOLIOS]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PORTFOLIOS](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[NAME] [nvarchar](64) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PURCHASE_PRICE] [decimal](14, 2) NULL,
	[PURCHASE_PRICE2] [decimal](14, 2) NULL,
	[PURCHASE_DATE] [date] NULL,
	[ENDLIFE_DATE] [date] NULL,
	[TOTAL_VALUE] [decimal](14, 2) NULL,
	[TOP_MONTH] [date] NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PORTFOLIOS_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NPV]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NPV](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PERIOD] [date] NOT NULL,
	[NPV_SUM] [decimal](14, 2) NULL,
	[DATE_LOAD] [date] NOT NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [NPV_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC,
	[PERIOD] ASC,
	[DATE_LOAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COSTS_OTHER]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSTS_OTHER](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PERIOD] [date] NOT NULL,
	[CATEGORY] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[SUM] [decimal](14, 2) NOT NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [COSTS_OTHER_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC,
	[PERIOD] ASC,
	[CATEGORY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COSTS_OPER_VAR_PLAN]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSTS_OPER_VAR_PLAN](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PERIOD] [date] NOT NULL,
	[CATEGORY] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[SUM] [decimal](14, 2) NOT NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [COSTS_OPER_VAR_PLAN_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC,
	[PERIOD] ASC,
	[CATEGORY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COSTS_OPER_VAR]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSTS_OPER_VAR](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PERIOD] [date] NOT NULL,
	[CATEGORY] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[SUM] [decimal](14, 2) NOT NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [COSTS_OPER_VAR_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC,
	[PERIOD] ASC,
	[CATEGORY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLLECTIONS_PLAN]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLECTIONS_PLAN](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PERIOD] [date] NOT NULL,
	[CATEGORY] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[SUM] [decimal](14, 2) NOT NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [COLLECTIONS_PLAN_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC,
	[PERIOD] ASC,
	[CATEGORY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLLECTIONS_FACT]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLECTIONS_FACT](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PERIOD] [date] NOT NULL,
	[CATEGORY] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[SUM] [decimal](14, 2) NOT NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [COLLECTIONS_FACT_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC,
	[PERIOD] ASC,
	[CATEGORY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSIGNMENT]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNMENT](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PERIOD] [date] NOT NULL,
	[SUM1] [decimal](14, 2) NULL,
	[SUM2] [decimal](14, 2) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [ASSIGNMENT_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC,
	[PERIOD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_PORTFOLIOS]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_PORTFOLIOS] ON [dbo].[PORTFOLIOS]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  PORTFOLIOS 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    PORTFOLIOS AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] --AND I.[PERIOD] = A.[PERIOD] --AND I.[CATEGORY] = A.[CATEGORY]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_PORTFOLIOS '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Table [dbo].[TAXES]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAXES](
	[ID_PORTFOLIO] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PERIOD] [date] NOT NULL,
	[SUM1] [decimal](14, 2) NULL,
	[SUM2] [decimal](14, 2) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[DATA_SOURCE] [nvarchar](200) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [TAXES_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PORTFOLIO] ASC,
	[PERIOD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_LKP_CODE]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_LKP_CODE](
	[CATEGORY] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[CODE] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[DESCRIPTION] [nvarchar](128) COLLATE Cyrillic_General_CI_AS NULL,
	[RANKING] [int] NULL,
	[EXT_DESCRIPTION] [nvarchar](256) COLLATE Cyrillic_General_CI_AS NULL,
	[CODE_GROUP] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NULL,
	[HISTORIC] [char](1) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [SYS_LKP_CODE_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORY] ASC,
	[CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_TAXES]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_TAXES] ON [dbo].[TAXES]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  TAXES 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    TAXES AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] AND I.[PERIOD] = A.[PERIOD] --AND I.[CATEGORY] = A.[CATEGORY]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_TAXES '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_NPV]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_NPV] ON [dbo].[NPV]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  NPV 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    NPV AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] AND I.[PERIOD] = A.[PERIOD] AND I.[DATE_LOAD] = A.[DATE_LOAD]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_NPV '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_COSTS_OTHER]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_COSTS_OTHER] ON [dbo].[COSTS_OTHER]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  COSTS_OTHER 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    COSTS_OTHER AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] AND I.[PERIOD] = A.[PERIOD] AND I.[CATEGORY] = A.[CATEGORY]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_COSTS_OTHER '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_COSTS_OPER_VAR_PLAN]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_COSTS_OPER_VAR_PLAN] ON [dbo].[COSTS_OPER_VAR_PLAN]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  COSTS_OPER_VAR_PLAN 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    COSTS_OPER_VAR_PLAN AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] AND I.[PERIOD] = A.[PERIOD] AND I.[CATEGORY] = A.[CATEGORY]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_COSTS_OPER_VAR_PLAN '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_COSTS_OPER_VAR]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_COSTS_OPER_VAR] ON [dbo].[COSTS_OPER_VAR]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  COSTS_OPER_VAR 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    COSTS_OPER_VAR AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] AND I.[PERIOD] = A.[PERIOD] AND I.[CATEGORY] = A.[CATEGORY]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_COSTS_OPER_VAR '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_COLLECTIONS_PLAN]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_COLLECTIONS_PLAN] ON [dbo].[COLLECTIONS_PLAN]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  COLLECTIONS_PLAN 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    COLLECTIONS_PLAN AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] AND I.[PERIOD] = A.[PERIOD] AND I.[CATEGORY] = A.[CATEGORY]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_COLLECTIONS_PLAN '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_COLLECTIONS_FACT]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_COLLECTIONS_FACT] ON [dbo].[COLLECTIONS_FACT]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  COLLECTIONS_FACT 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    COLLECTIONS_FACT AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] AND I.[PERIOD] = A.[PERIOD] AND I.[CATEGORY] = A.[CATEGORY]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_COLLECTIONS_FACT '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Trigger [TR_AFT_U_AUDIT_ASSIGNMENT]    Script Date: 08/01/2014 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-Updates the UPDATED_BY & DATE_UPDATED fields when updates occur--*/ 
CREATE TRIGGER [dbo].[TR_AFT_U_AUDIT_ASSIGNMENT] ON [dbo].[ASSIGNMENT]
  FOR UPDATE
  NOT FOR REPLICATION
AS
  BEGIN
    DECLARE @errMsg NVARCHAR(2000) 
    SET XACT_ABORT ON ;
    BEGIN TRY 
      BEGIN TRANSACTION
      SET NOCOUNT ON
      SET ANSI_NULLS ON

      UPDATE  ASSIGNMENT 
      SET     UPDATED_BY = SYSTEM_USER ,
              DATE_UPDATED = GETDATE()
      FROM    ASSIGNMENT AS A 
              INNER JOIN INSERTED I
                ON I.[ID_PORTFOLIO] = A.[ID_PORTFOLIO] AND I.[PERIOD] = A.[PERIOD]
      SET NOCOUNT OFF
      COMMIT 
    END TRY
  
    BEGIN CATCH
      IF @@TRANCOUNT > 0 
        ROLLBACK 
      SELECT  @errMsg = 'TR_AFT_U_AUDIT_ASSIGNMENT '+ERROR_MESSAGE() 
      RAISERROR (@errMsg, 16,1) 
    END CATCH              
  END
GO
/****** Object:  Default [DF_ASSIGNMENT_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[ASSIGNMENT] ADD  CONSTRAINT [DF_ASSIGNMENT_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_ASSIGNMENT_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[ASSIGNMENT] ADD  CONSTRAINT [DF_ASSIGNMENT_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_ASSIGNMENT_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[ASSIGNMENT] ADD  CONSTRAINT [DF_ASSIGNMENT_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  Default [DF_COLLECTIONS_FACT_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COLLECTIONS_FACT] ADD  CONSTRAINT [DF_COLLECTIONS_FACT_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_COLLECTIONS_FACT_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COLLECTIONS_FACT] ADD  CONSTRAINT [DF_COLLECTIONS_FACT_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_COLLECTIONS_FACT_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COLLECTIONS_FACT] ADD  CONSTRAINT [DF_COLLECTIONS_FACT_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  Default [DF_COLLECTIONS_PLAN_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COLLECTIONS_PLAN] ADD  CONSTRAINT [DF_COLLECTIONS_PLAN_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_COLLECTIONS_PLAN_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COLLECTIONS_PLAN] ADD  CONSTRAINT [DF_COLLECTIONS_PLAN_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_COLLECTIONS_PLAN_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COLLECTIONS_PLAN] ADD  CONSTRAINT [DF_COLLECTIONS_PLAN_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  Default [DF_COSTS_OPER_VAR_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OPER_VAR] ADD  CONSTRAINT [DF_COSTS_OPER_VAR_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_COSTS_OPER_VAR_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OPER_VAR] ADD  CONSTRAINT [DF_COSTS_OPER_VAR_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_COSTS_OPER_VAR_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OPER_VAR] ADD  CONSTRAINT [DF_COSTS_OPER_VAR_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  Default [DF_COSTS_OPER_VAR_PLAN_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OPER_VAR_PLAN] ADD  CONSTRAINT [DF_COSTS_OPER_VAR_PLAN_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_COSTS_OPER_VAR_PLAN_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OPER_VAR_PLAN] ADD  CONSTRAINT [DF_COSTS_OPER_VAR_PLAN_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_COSTS_OPER_VAR_PLAN_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OPER_VAR_PLAN] ADD  CONSTRAINT [DF_COSTS_OPER_VAR_PLAN_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  Default [DF_COSTS_OTHER_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OTHER] ADD  CONSTRAINT [DF_COSTS_OTHER_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_COSTS_OTHER_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OTHER] ADD  CONSTRAINT [DF_COSTS_OTHER_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_COSTS_OTHER_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OTHER] ADD  CONSTRAINT [DF_COSTS_OTHER_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  Default [DF_NPV_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[NPV] ADD  CONSTRAINT [DF_NPV_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_NPV_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[NPV] ADD  CONSTRAINT [DF_NPV_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_NPV_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[NPV] ADD  CONSTRAINT [DF_NPV_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  Default [DF_PORTFOLIOS_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[PORTFOLIOS] ADD  CONSTRAINT [DF_PORTFOLIOS_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_PORTFOLIOS_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[PORTFOLIOS] ADD  CONSTRAINT [DF_PORTFOLIOS_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_PORTFOLIOS_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[PORTFOLIOS] ADD  CONSTRAINT [DF_PORTFOLIOS_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  Default [DF_TAXES_DATE_INSERTED]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[TAXES] ADD  CONSTRAINT [DF_TAXES_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
/****** Object:  Default [DF_TAXES_INSERTED_BY]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[TAXES] ADD  CONSTRAINT [DF_TAXES_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
/****** Object:  Default [DF_TAXES_DATA_SOURCE]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[TAXES] ADD  CONSTRAINT [DF_TAXES_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
/****** Object:  ForeignKey [ASSIGNMENT_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[ASSIGNMENT]  WITH NOCHECK ADD  CONSTRAINT [ASSIGNMENT_FK1] FOREIGN KEY([ID_PORTFOLIO])
REFERENCES [dbo].[PORTFOLIOS] ([ID_PORTFOLIO])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[ASSIGNMENT] CHECK CONSTRAINT [ASSIGNMENT_FK1]
GO
/****** Object:  ForeignKey [COLLECTIONS_FACT_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COLLECTIONS_FACT]  WITH NOCHECK ADD  CONSTRAINT [COLLECTIONS_FACT_FK1] FOREIGN KEY([ID_PORTFOLIO])
REFERENCES [dbo].[PORTFOLIOS] ([ID_PORTFOLIO])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[COLLECTIONS_FACT] CHECK CONSTRAINT [COLLECTIONS_FACT_FK1]
GO
/****** Object:  ForeignKey [COLLECTIONS_PLAN_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COLLECTIONS_PLAN]  WITH NOCHECK ADD  CONSTRAINT [COLLECTIONS_PLAN_FK1] FOREIGN KEY([ID_PORTFOLIO])
REFERENCES [dbo].[PORTFOLIOS] ([ID_PORTFOLIO])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[COLLECTIONS_PLAN] CHECK CONSTRAINT [COLLECTIONS_PLAN_FK1]
GO
/****** Object:  ForeignKey [COSTS_OPER_VAR_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OPER_VAR]  WITH NOCHECK ADD  CONSTRAINT [COSTS_OPER_VAR_FK1] FOREIGN KEY([ID_PORTFOLIO])
REFERENCES [dbo].[PORTFOLIOS] ([ID_PORTFOLIO])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[COSTS_OPER_VAR] CHECK CONSTRAINT [COSTS_OPER_VAR_FK1]
GO
/****** Object:  ForeignKey [COSTS_OPER_VAR_PLAN_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OPER_VAR_PLAN]  WITH NOCHECK ADD  CONSTRAINT [COSTS_OPER_VAR_PLAN_FK1] FOREIGN KEY([ID_PORTFOLIO])
REFERENCES [dbo].[PORTFOLIOS] ([ID_PORTFOLIO])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[COSTS_OPER_VAR_PLAN] CHECK CONSTRAINT [COSTS_OPER_VAR_PLAN_FK1]
GO
/****** Object:  ForeignKey [COSTS_OTHER_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[COSTS_OTHER]  WITH NOCHECK ADD  CONSTRAINT [COSTS_OTHER_FK1] FOREIGN KEY([ID_PORTFOLIO])
REFERENCES [dbo].[PORTFOLIOS] ([ID_PORTFOLIO])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[COSTS_OTHER] CHECK CONSTRAINT [COSTS_OTHER_FK1]
GO
/****** Object:  ForeignKey [NPV_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[NPV]  WITH NOCHECK ADD  CONSTRAINT [NPV_FK1] FOREIGN KEY([ID_PORTFOLIO])
REFERENCES [dbo].[PORTFOLIOS] ([ID_PORTFOLIO])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[NPV] CHECK CONSTRAINT [NPV_FK1]
GO
/****** Object:  ForeignKey [SYS_LKP_CODE_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[SYS_LKP_CODE]  WITH NOCHECK ADD  CONSTRAINT [SYS_LKP_CODE_FK1] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[SYS_LKP_CATEGORY] ([CATEGORY])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[SYS_LKP_CODE] CHECK CONSTRAINT [SYS_LKP_CODE_FK1]
GO
/****** Object:  ForeignKey [TAXES_FK1]    Script Date: 08/01/2014 10:19:08 ******/
ALTER TABLE [dbo].[TAXES]  WITH NOCHECK ADD  CONSTRAINT [TAXES_FK1] FOREIGN KEY([ID_PORTFOLIO])
REFERENCES [dbo].[PORTFOLIOS] ([ID_PORTFOLIO])
ON UPDATE CASCADE
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[TAXES] CHECK CONSTRAINT [TAXES_FK1]
GO
