use VBM;
go

select 
	CFP.ID_PORTFOLIO, 
	CFP.PERIOD, 
	(CFP.[SUM] - isnull(AF.[SUM_CALC],0) - isnull(COFP.[SUM],0) - ISNULL(CPFF.[SUM],0)) as [SUM],
	CFP.[SUM] as 'SUM_CFP',
	AF.SUM_CALC as 'SUM_AF',
	COFP.[SUM] as 'SUM_COFP',
	CPFF.[SUM] as 'SUM_CPFF'
FROM 
	GetCOLLECTIONS_FACTandPRED CFP INNER JOIN GetAMORTIZATION_FACT AF
		ON CFP.ID_PORTFOLIO = AF.ID_PORTFOLIO and CFP.PERIOD = AF.PERIOD
LEFT JOIN
	GetCOSTS_OPER_FACTandPRED COFP
		ON CFP.ID_PORTFOLIO = COFP.ID_PORTFOLIO and CFP.PERIOD = COFP.PERIOD
LEFT JOIN
	dbo.GetCOSTS_PCT_FACT_FULL CPFF
		ON CFP.ID_PORTFOLIO = CPFF.ID_PORTFOLIO and CFP.PERIOD = CPFF.PERIOD

