use VBM;
go

select
	POP.ID_PORTFOLIO,
	POP.PERIOD,
		(POP.[SUM] - AP.[SUM_CALC]) as [SUM],
	POP.[SUM] as [SUM_POP],
	AP.[SUM_CALC] as [SUM_AP]

from GetPROFIT_OPER_PLAN POP left join GetAMORTIZATION_PLAN AP
on POP.ID_PORTFOLIO = AP.ID_PORTFOLIO and POP.PERIOD = AP.PERIOD