use VBM;
go

select 
	CFP.ID_PORTFOLIO,
	CFP.PERIOD,
		CASE
			WHEN CFP.PERIOD = (select I.PURCHASE_DATE from PORTFOLIOS I where I.ID_PORTFOLIO = CFP.ID_PORTFOLIO)
				then (select P.PURCHASE_PRICE from PORTFOLIOS P where P.ID_PORTFOLIO = CFP.ID_PORTFOLIO) * (-1) - CTF.[SUM] + CFP.[SUM]
			ELSE
				(CFP.[SUM] - CTF.[SUM])
		END
		 as [SUM],
	CFP.[SUM] as [SUM_CFP],
	CTF.[SUM] as [SUM_CTF]

from GetCOLLECTIONS_FACTandPRED CFP left join GetCOSTS_TOTAL_FACT CTF
on CFP.ID_PORTFOLIO = CTF.ID_PORTFOLIO and CFP.PERIOD = CTF.PERIOD
--order by CFP.ID_PORTFOLIO, CFP.PERIOD

where CFP.ID_portfolio = N'Альфа_4' and CFP.PERIOD > '2014-07-01'